30-Day-Roadmap-FINAL.json
{
  "name": "30-Day Roadmap with Payment (FINAL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30-day-payment-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9647542c-03aa-4f70-9bcd-1b115c03ef85",
      "name": "Webhook - Payment Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2576,
        -256
      ],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "jsCode": "  // Extract orderId from payment webhook data\n  const webhookData = $input.item.json;\n\n  console.log('=== DEBUG: Full webhook data ===');\n  console.log(JSON.stringify(webhookData, null, 2));\n\n  let orderId = null;\n\n  // Try multiple paths\n  if (webhookData.data?.metadata?.orderId) {\n    orderId = webhookData.data.metadata.orderId;\n    console.log('Found orderId in data.metadata.orderId:', orderId);\n  }\n  else if (webhookData.metadata?.orderId) {\n    orderId = webhookData.metadata.orderId;\n    console.log('Found orderId in metadata.orderId:', orderId);\n  }\n  else if (webhookData.body?.data?.metadata?.orderId) {\n    orderId = webhookData.body.data.metadata.orderId;\n    console.log('Found orderId in body.data.metadata.orderId:', orderId);\n  }\n  else if (webhookData.orderId) {\n    orderId = webhookData.orderId;\n    console.log('Found orderId directly:', orderId);\n  }\n\n  if (!orderId) {\n    console.error('=== ERROR: No orderId found ===');\n    console.error('Available keys:', Object.keys(webhookData));\n    throw new Error('No orderId found in payment webhook data. Check logs for structure.');\n  }\n\n  console.log('=== SUCCESS: OrderID extracted ===');\n  console.log('OrderID:', orderId);\n\n  const paymentData = webhookData.data || webhookData;\n\n  return {\n    json: {\n      orderId: orderId,\n      paymentId: paymentData.id || 'unknown',\n      paymentStatus: paymentData.status || 'unknown',\n      amount: paymentData.amount || 0,\n      currency: paymentData.currency || 'ISK',\n      paymentDate: new Date().toISOString(),\n      rawData: webhookData\n    }\n  };"
      },
      "id": "bda94492-6081-460d-9407-4d8caa855f18",
      "name": "Extract OrderID from Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name = '{{ $json.orderId }}-questionnaire' and '1vRP5yGFdvUZnY2DjSgIivSLywoJS2n-6' in parents and mimeType = 'application/vnd.google-apps.spreadsheet'"
            },
            {
              "name": "fields",
              "value": "files(id, name, mimeType)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "324ec8c8-d9d7-4bf6-af7d-aed9a0cf6b99",
      "name": "HTTP - Search Questionnaire Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        -256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wwpyqnDEeHfqxBt5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract file ID from Google Drive API response\nconst files = $json.files || [];\n\nif (files.length === 0) {\n  const orderId = $node[\"Extract OrderID from Payment\"].json.orderId;\n  throw new Error(`Questionnaire sheet not found for orderId: ${orderId}`);\n}\n\n// Return the first file's data\nreturn {\n  json: {\n    spreadsheetId: files[0].id,\n    name: files[0].name,\n    mimeType: files[0].mimeType\n  }\n};"
      },
      "id": "28768837-4449-4c61-ae1b-44d4bc7c2924",
      "name": "Extract Spreadsheet ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        -112
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Sheet1!A2:F2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "read-sheet-http",
      "name": "HTTP - Read Sheet Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        -256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsCredential",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Read sheet data from HTTP response\nconst response = $json;\n\nconsole.log('=== Parse Sheet Data ===');\nconsole.log('Response:', JSON.stringify(response, null, 2));\n\n// Extract values array (first row of data)\nconst values = response.values || [];\n\nif (values.length === 0 || values[0].length === 0) {\n  throw new Error('No data found in sheet');\n}\n\nconst row = values[0];\n\n// Map array to object (orderId, timestamp, companyName, email, name, formData)\nconst orderId = row[0];\nconst timestamp = row[1];\nconst companyName = row[2];\nconst email = row[3];\nconst name = row[4];\nconst formDataJson = row[5];\n\n// Parse formData JSON string\nlet formData;\ntry {\n  formData = JSON.parse(formDataJson);\n  console.log('✅ FormData parsed successfully');\n} catch (parseError) {\n  console.error('FormData parse error:', parseError.message);\n  throw new Error('Failed to parse formData: ' + parseError.message);\n}\n\n// Get spreadsheet ID for moving later\nconst spreadsheetId = $node[\"Extract Spreadsheet ID\"].json.spreadsheetId;\n\n// Return parsed questionnaire data\nreturn {\n  json: {\n    orderId: orderId,\n    timestamp: timestamp,\n    companyName: companyName,\n    email: email,\n    name: name,\n    formData: formData,\n    fileId: spreadsheetId\n  }\n};"
      },
      "id": "parse-sheet",
      "name": "Parse Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "1le7A1ieoPrX0ZSxV7u3qwc_e_oRa5eCs",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1JVZf9s80Eyo3HOZY-SvFNG_HeG_D6eqN",
          "mode": "id"
        }
      },
      "id": "03105b2c-1558-4a54-b205-57adf4bd026f",
      "name": "Move to in-progress",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1728,
        -256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wwpyqnDEeHfqxBt5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get questionnaire data (already parsed by Parse Sheet Data node)\nconst questionnaireData = $node[\"Parse Sheet Data\"].json;\n\n// Get payment data\nconst paymentData = $node[\"Extract OrderID from Payment\"].json;\n\n// Merge data\nreturn {\n  json: {\n    orderId: questionnaireData.orderId,\n    timestamp: questionnaireData.timestamp,\n    companyName: questionnaireData.companyName,\n    email: questionnaireData.email,\n    name: questionnaireData.name,\n    formData: questionnaireData.formData,\n    paymentId: paymentData.paymentId,\n    paymentStatus: paymentData.paymentStatus,\n    amount: paymentData.amount,\n    currency: paymentData.currency,\n    paymentDate: paymentData.paymentDate\n  }\n};"
      },
      "id": "f08b7848-54ef-4cc0-a34f-d3645d3bbdc0",
      "name": "Merge Payment + Questionnaire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "const formData = $json.formData;\nconst orderId = $json.orderId;\n\n// PART 1: Opportunities & Analysis Prompt\nconst masterPromptPart1 = `# ROLE & CONTEXT\nYou are Ingþór, senior AI & automation consultant at LioraTech. You are creating a personalized 30-day AI implementation roadmap for ${formData.companyName}.\n\n# CLIENT DATA\n${JSON.stringify(formData, null, 2)}\n\n# YOUR TASK - PART 1: OPPORTUNITIES & ANALYSIS\nCreate the first part of a comprehensive AI implementation roadmap in Icelandic (pages 1-11):\n\n## PAGE 1: COVER\n# 30 Daga Framkvæmdaáætlun\n## AI Innleiðing fyrir ${formData.companyName}\n\nGerð af: Ingþór Ari Jónsson, LioraTech\nDagsetning: ${new Date().toLocaleDateString('is-IS')}\nPöntun: ${orderId}\n\n---\n\n## PAGE 2: EXECUTIVE SUMMARY (1 page)\n### Samantekt\n\nProvide 3-4 paragraph overview:\n1. Current state summary\n2. Top 3 opportunities identified\n3. Expected outcomes after 30 days\n4. Total estimated ROI\n\n**Key metrics box:**\n- Áætlaður tímasparnaður: X klst/viku\n- Áætluð kostnaðarlækkun: X kr/mánuði\n- Fjárfesting næstu 30 daga: X kr\n- Áætluð arðsemi (ROI): X%\n\n---\n\n## PAGES 3-4: CURRENT STATE ANALYSIS (2 pages)\n### Núverandi staða\n\nAnalyze based on their responses:\n\n#### Rekstur og tækifæri\n- Industry context: ${formData.industry}\n- Team size: ${formData.employees}\n- Current challenges: ${formData.biggestChallenges}\n- Time-consuming tasks: ${formData.timeTakingTasks}\n\n#### Tæknistaða\n- Current tools: ${formData.currentTools}\n- Data quality: ${formData.dataQuality}/5\n- AI experience: ${formData.previousAiExperience}\n\n#### Markmið og forgangsröðun\n- Primary goal: ${formData.aiGoals}\n- Top priority: ${formData.timeSavingsPriority1}\n- Budget: ${formData.monthlyBudget}\n- Timeline: ${formData.implementationSpeed}\n\n---\n\n## PAGES 5-11: THREE OPPORTUNITIES (2 pages each)\n\nFor each opportunity (total 3 opportunities):\n\n### Tækifæri #X: [Specific Title]\n\n#### Vandamálið\n[1 paragraph: What specific problem does this solve?]\n\n#### Lausnin\n[2 paragraphs: How AI/automation solves this. Be specific about tools and approach]\n\n#### Tæknilausn\n**Verkfæri:**\n- Tool 1: [Specific tool name and purpose]\n- Tool 2: [Specific tool name and purpose]\n\n**Uppsetting:**\n1. [Specific step]\n2. [Specific step]\n3. [Specific step]\n\n#### Framkvæmd\n**Vika 1-2:** [Specific actions]\n**Vika 3-4:** [Specific actions]\n\n#### Ávinningur\n- Tímasparnaður: X klst/viku (X klst/mánuði)\n- Kostnaðarlækkun: X kr/mánuði\n- Aukinn gæði: [Specific quality improvement]\n- Áhætta: [Potential risks]\n\n**ROI útreikningur:**\n- Mánaðarlegur kostnaður: X kr\n- Mánaðarlegur ávinningur: X kr\n- Arðsemi: X%\n- Break-even: X mánuðir\n\n---\n\n# WRITING GUIDELINES\n\n1. **Icelandic language:**\n   - Use gender-neutral forms\n   - Professional but accessible tone\n   - Avoid direct translations - use natural Icelandic\n\n2. **Specificity:**\n   - NEVER use placeholders - always use ${formData.companyName}\n   - Name specific tools (e.g., \"Make.com\" not \"automation tool\")\n   - Give exact time estimates\n\n3. **ROI calculations:**\n   - Use realistic Icelandic labor costs: 5,000-8,000 kr/hour\n   - Show math\n   - Be conservative\n\n4. **Context awareness:**\n   - Small companies (1-10): Focus on no-code tools\n   - Medium (11-50): Balance power and simplicity\n   - Larger (50+): Can suggest complex integrations\n\n# OUTPUT FORMAT\nOutput ONLY the roadmap content in markdown format. No meta-commentary. Start with the cover page and END after Opportunity #3.\n`;\n\n// PART 2: Implementation Plan Prompt\nconst masterPromptPart2 = `# ROLE & CONTEXT\nYou are Ingþór, senior AI & automation consultant at LioraTech. You are creating the implementation plan section (Part 2) of the 30-day roadmap for ${formData.companyName}.\n\n# CLIENT DATA\n${JSON.stringify(formData, null, 2)}\n\n# CONTEXT FROM PART 1\nYou have already created the Executive Summary, Current State Analysis, and three detailed opportunities. Now you need to create the detailed 30-day implementation plan.\n\n# YOUR TASK - PART 2: IMPLEMENTATION PLAN\nCreate the second part of the roadmap (pages 12-16):\n\n## PAGES 12-15: 30 DAY IMPLEMENTATION PLAN (4 pages)\n### 30 Daga Framkvæmdaáætlun\n\n#### Vika 1: [Week theme]\n**Dagur 1-2:** [Specific tasks]\n- [ ] Task 1 (Person responsible: [role])\n- [ ] Task 2\n\n**Dagur 3-5:** [Specific tasks]\n- [ ] Task 1\n- [ ] Task 2\n\n#### Vika 2: [Week theme]\n[Same detailed structure]\n\n#### Vika 3: [Week theme]\n[Same detailed structure]\n\n#### Vika 4: [Week theme]\n[Same detailed structure]\n\n**Heildar yfirlit:**\n[Timeline showing overlapping activities]\n\n---\n\n## PAGE 15: TECH STACK & BUDGET (1 page)\n### Tæknistaða og kostnaður\n\n#### Ráðlögð verkfæri\n| Verkfæri | Tilgangur | Mánaðarlegur kostnaður | Forgangsröð |\n|----------|-----------|------------------------|-------------|\n| [Tool 1] | [Purpose] | X kr                   | Hár         |\n| [Tool 2] | [Purpose] | X kr                   | Miðlungs    |\n\n**Heildarkostnaður fyrstu 30 daga:** X kr\n**Mánaðarlegur rekstrarkostnaður eftir það:** X kr\n\n#### Samþætting við núverandi kerfi\n- [How it integrates with ${formData.currentTools}]\n\n---\n\n## PAGE 16: NEXT STEPS & SUPPORT (1 page)\n### Næstu skref\n\n#### Strax (næstu 48 klst)\n1. [Immediate action]\n2. [Immediate action]\n\n#### Næstu 7 daga\n1. [Week 1 action]\n2. [Week 1 action]\n\n#### Framhaldsaðstoð frá LioraTech\n- **Innleiðingarþjónusta:** [Brief description]\n- **Þjálfun:** [Brief description]\n- **Viðhaldsáskrift:** [Brief description]\n\n#### Áhættur og hvernig á að forðast þær\n1. [Risk]: [Mitigation]\n2. [Risk]: [Mitigation]\n\n---\n\n# WRITING GUIDELINES\nSame as Part 1: Professional Icelandic, specific details, realistic ROI, context-aware.\n\n# OUTPUT FORMAT\nOutput ONLY the implementation plan content in markdown format. Start with \"# 30 DAGA FRAMKVÆMDAÁÆTLUN\" header.\n`;\n\nreturn {\n  json: {\n    ...($json),\n    masterPromptPart1,\n    masterPromptPart2,\n    promptPart1Length: masterPromptPart1.length,\n    promptPart2Length: masterPromptPart2.length\n  }\n};"
      },
      "id": "853cc7f6-441e-4a3e-a77b-ac05e6e324cb",
      "name": "Build Master Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 16000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1136,
        -48
      ],
      "id": "37c9b7b6-6ec9-4c1a-abf8-53f4be173df1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "jhXu8cCaS35ENh09",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 16000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1136,
        272
      ],
      "id": "7bc8ecd8-f623-4201-89b2-44a1b59572e4",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "jhXu8cCaS35ENh09",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.masterPromptPart1 }}",
        "options": {
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1136,
        -224
      ],
      "id": "dd576c3c-223c-4ece-b109-9acfd166f219",
      "name": "AI Agent 1 - Opportunities"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.masterPromptPart2 }}",
        "options": {
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1136,
        112
      ],
      "id": "1616b903-755a-4e05-873a-a795d097c64c",
      "name": "AI Agent 2 - Implementation"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        -208
      ],
      "id": "1390f353-5013-46bb-b5c4-0f027014b17c",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// With Append mode, $input.all() gives us array of both items\nconst items = $input.all();\n\nconsole.log('Total items:', items.length);\n\nlet part1 = '';\nlet part2 = '';\n\n// Process each item from the merge\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  console.log(`Item ${i}:`, Object.keys(item));\n\n  // The output from AI Agent is in .output or .text\n  const output = item.output || item.text || '';\n\n  console.log(`Item ${i} output length:`, output.length);\n  console.log(`Item ${i} output preview:`, output.substring(0, 100));\n\n  // Determine which part this is\n  if (output.includes('EXECUTIVE SUMMARY') || output.includes('Tækifæri #1')) {\n    part1 = output;\n    console.log(`Item ${i} is Part 1 (Opportunities)`);\n  } else if (output.includes('30 DAGA') || output.includes('VIKA 1') || output.includes('30 Daga')) {\n    part2 = output;\n    console.log(`Item ${i} is Part 2 (Implementation)`);\n  }\n}\n\n// Combine\nconst completeRoadmap = part1 + '\\n\\n---\\n\\n' + part2;\n\nconsole.log('Part 1 length:', part1.length);\nconsole.log('Part 2 length:', part2.length);\nconsole.log('Complete roadmap length:', completeRoadmap.length);\n\nreturn {\n  json: {\n    roadmap: completeRoadmap,\n    part1Length: part1.length,\n    part2Length: part2.length,\n    totalLength: completeRoadmap.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -208
      ],
      "id": "8233eef8-151a-468f-b9c7-395646671ceb",
      "name": "Combine text"
    },
    {
      "parameters": {
        "jsCode": "// The roadmap is already merged and ready from Combine Text\nconst roadmap = $json.roadmap;\n\n// Get metadata from Merge Payment + Questionnaire node\nconst orderId = $node[\"Merge Payment + Questionnaire\"].json.orderId;\nconst companyName = $node[\"Merge Payment + Questionnaire\"].json.companyName;\nconst email = $node[\"Merge Payment + Questionnaire\"].json.email;\nconst name = $node[\"Merge Payment + Questionnaire\"].json.name;\n\nreturn {\n  json: {\n    orderId,\n    companyName,\n    email,\n    name,\n    roadmap,\n    generatedAt: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -320
      ],
      "id": "f2024cdc-8706-4a6b-bdf3-438ec232c92a",
      "name": "Extract Roadmap"
    },
    {
      "parameters": {
        "jsCode": "const roadmap = $input.item.json.roadmap;\nconst orderId = $input.item.json.orderId;\nconst companyName = $input.item.json.companyName;\n\n// Convert roadmap text to binary\nconst binaryData = Buffer.from(roadmap, 'utf-8');\n\nreturn {\n  json: {\n    orderId: orderId,\n    companyName: companyName,\n    roadmap: roadmap\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `${orderId}-${companyName}.md`\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -320
      ],
      "id": "44714186-6783-419c-90a9-8adca8f2870b",
      "name": "Convert Roadmap to Binary"
    },
    {
      "parameters": {
        "name": "={{ $json.orderId }}-{{ $json.companyName }}.md",
        "driveId": {
          "__rl": true,
          "value": "1le7A1ieoPrX0ZSxV7u3qwc_e_oRa5eCs",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1JVZf9s80Eyo3HOZY-SvFNG_HeG_D6eqN"
        },
        "options": {}
      },
      "id": "c3d49154-2308-4f26-b8fe-d2ed151195ea",
      "name": "Save Roadmap to Drive (in-progress)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wwpyqnDEeHfqxBt5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ingi@lioratech.is",
        "subject": "🎯 Ný 30 daga áætlun pöntun: {{ $node[\"Merge Payment + Questionnaire\"].json.companyName }}",
        "message": "=<h2>Ný pöntun móttekin (PAID)</h2>\n\n<p><strong>Pöntunarnúmer:</strong> {{ $json.orderId }}</p>\n<p><strong>Fyrirtæki:</strong> {{ $json.companyName }}</p>\n<p><strong>Tengiliður:</strong> {{ $json.name }} ({{ $json.email }})</p>\n<p><strong>Greiðsla:</strong> {{ $node[\"Merge Payment + Questionnaire\"].json.amount }} {{ $node[\"Merge Payment + Questionnaire\"].json.currency }} ({{ $node[\"Merge Payment + Questionnaire\"].json.paymentStatus }})</p>\n<p><strong>Tími:</strong> {{ $json.generatedAt }}</p>\n\n<hr>\n\n<h3>Næstu skref:</h3>\n<ol>\n<li>Skoða AI-generated roadmap í Google Drive (in-progress möppu)</li>\n<li>Review og customize roadmap</li>\n<li>Bóka kickoff símtal</li>\n<li>Senda lokagilda PDF til viðskiptavinar</li>\n</ol>\n\n<p><a href=\"https://drive.google.com/drive/folders/1JVZf9s80Eyo3HOZY-SvFNG_HeG_D6eqN\">Opna in-progress möppu í Drive</a></p>",
        "options": {}
      },
      "id": "6ddd0b0e-59d6-4ea7-9ea3-3e82b6b69b5b",
      "name": "Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        -416
      ],
      "webhookId": "8f51d465-2670-4d92-ad6c-2180b85ecbdd",
      "credentials": {
        "gmailOAuth2": {
          "id": "DMOMr6YNj60YMfxL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Payment received and roadmap generated successfully.\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "408ff8de-77b0-4a44-8f90-88d76cde50d8",
      "name": "Respond - Payment Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        -336
      ]
    },
    {
      "parameters": {
        "content": "## 30-Day Roadmap Workflow (FINAL)\n\n### Solution:\n✅ Google Sheets for questionnaire storage\n✅ Code node to build proper API request\n✅ HTTP Request with Google Sheets API\n✅ 100% reliable, no encoding issues!\n\n### Folder IDs:\n- **pending-payment:** 1vRP5yGFdvUZnY2DjSgIivSLywoJS2n-6\n- **in-progress:** 1JVZf9s80Eyo3HOZY-SvFNG_HeG_D6eqN\n\n### Webhooks:\n1. **Questionnaire Submit:** /webhook/30-day-questionnaire-submit\n2. **Payment Callback:** /webhook/30-day-payment-callback",
        "height": 464,
        "width": 403
      },
      "id": "fd4cd4c8-061d-4c61-8abd-4c251cc1c750",
      "name": "Sticky Note",
      "typeVersion": 1,
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2944,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "30-day-questionnaire-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9bb86598-feaa-417f-8626-75ef91ec3c9d",
      "name": "Webhook - Questionnaire Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2576,
        -560
      ],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "jsCode": "const formData = $input.item.json.body;\n\n// Generate unique order ID\nconst timestamp = new Date().toISOString();\nconst orderId = `AI-${timestamp.slice(0,10)}-${Math.random().toString(36).substr(2, 6).toUpperCase()}`;\n\n// Extract key fields\nconst companyName = formData.companyName || 'Unknown Company';\nconst email = formData.email || 'no-email@example.com';\nconst name = formData.name || 'Unknown';\n\n// Return data for Google Sheets\nreturn {\n  json: {\n    orderId: orderId,\n    timestamp: timestamp,\n    companyName: companyName,\n    email: email,\n    name: name,\n    formData: formData,\n    formDataJson: JSON.stringify(formData),\n    sheetName: `${orderId}-questionnaire`\n  }\n};"
      },
      "id": "83f36b7e-a0a1-4725-82fd-431f48b8973b",
      "name": "Generate OrderID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        -560
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "create",
        "title": "={{ $json.sheetName }}",
        "sheetsUi": {
          "sheetValues": []
        },
        "options": {}
      },
      "id": "create-sheet",
      "name": "Create Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -2240,
        -560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsCredential",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build request body for Google Sheets API\nconst orderData = $node['Generate OrderID'].json;\n\n// Create the values array (headers + data row)\nconst values = [\n  ['orderId', 'timestamp', 'companyName', 'email', 'name', 'formData'],\n  [\n    orderData.orderId,\n    orderData.timestamp,\n    orderData.companyName,\n    orderData.email,\n    orderData.name,\n    orderData.formDataJson\n  ]\n];\n\n// Build request body\nconst requestBody = {\n  values: values\n};\n\nreturn {\n  json: {\n    spreadsheetId: $json.spreadsheetId,\n    requestBody: requestBody,\n    requestBodyString: JSON.stringify(requestBody)\n  }\n};"
      },
      "id": "build-request-body",
      "name": "Build Sheet Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        -560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Sheet1!A1:F2?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBodyString }}",
        "options": {}
      },
      "id": "write-data-http",
      "name": "HTTP - Write Data to Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1920,
        -560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsCredential",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.spreadsheetId }}?addParents=1vRP5yGFdvUZnY2DjSgIivSLywoJS2n-6",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "move-to-pending",
      "name": "Move to Pending-Payment Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        -560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wwpyqnDEeHfqxBt5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"orderId\": $node[\"Generate OrderID\"].json.orderId, \"message\": \"Questionnaire saved. Please proceed to payment.\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "67b83b54-16c1-4993-bd6c-29b7bd424b11",
      "name": "Respond - Questionnaire",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1600,
        -560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Payment Callback": {
      "main": [
        [
          {
            "node": "Extract OrderID from Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OrderID from Payment": {
      "main": [
        [
          {
            "node": "HTTP - Search Questionnaire Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Search Questionnaire Sheet": {
      "main": [
        [
          {
            "node": "Extract Spreadsheet ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Spreadsheet ID": {
      "main": [
        [
          {
            "node": "HTTP - Read Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Read Sheet Data": {
      "main": [
        [
          {
            "node": "Parse Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sheet Data": {
      "main": [
        [
          {
            "node": "Move to in-progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to in-progress": {
      "main": [
        [
          {
            "node": "Merge Payment + Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Payment + Questionnaire": {
      "main": [
        [
          {
            "node": "Build Master Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Master Prompt": {
      "main": [
        [
          {
            "node": "AI Agent 1 - Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent 2 - Implementation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 1 - Opportunities",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 2 - Implementation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 1 - Opportunities": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 2 - Implementation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Combine text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine text": {
      "main": [
        [
          {
            "node": "Extract Roadmap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Roadmap": {
      "main": [
        [
          {
            "node": "Convert Roadmap to Binary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Roadmap to Binary": {
      "main": [
        [
          {
            "node": "Save Roadmap to Drive (in-progress)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Roadmap to Drive (in-progress)": {
      "main": [
        [
          {
            "node": "Respond - Payment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Questionnaire Submit": {
      "main": [
        [
          {
            "node": "Generate OrderID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OrderID": {
      "main": [
        [
          {
            "node": "Create Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Spreadsheet": {
      "main": [
        [
          {
            "node": "Build Sheet Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sheet Request Body": {
      "main": [
        [
          {
            "node": "HTTP - Write Data to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Write Data to Sheet": {
      "main": [
        [
          {
            "node": "Move to Pending-Payment Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Pending-Payment Folder": {
      "main": [
        [
          {
            "node": "Respond - Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "FINAL-2026-01-07",
  "meta": {
    "instanceId": "b7f40563bec61343bd96b2dc39bcec86e447b8da8aeac02fee5701e8d6439785"
  },
  "tags": []
}
