coo-agent/workflows/n8n-WORKING-v2.json
{
  "name": "LioraTech - WORKING Email Workflow v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "roadmap-request",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "roadmap-request",
      "id": "2baeb351-52fe-43f4-bc32-c0153b70b4dc"
    },
    {
      "parameters": {
        "jsCode": "// Access webhook data directly\nconst webhookData = items[0].json.body || items[0].json;\n\n// Generate unique Order ID\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst randomId = Math.random().toString(36).substr(2, 6).toUpperCase();\nconst orderId = `AI-${timestamp.slice(0,10)}-${randomId}`;\n\n// Build complete order object\nconst orderData = {\n  orderId: orderId,\n  timestamp: new Date().toISOString(),\n  status: 'pending',\n  productType: 'ai-greining-free',\n  email: webhookData.email || '',\n  companyName: webhookData.companyName || '',\n  website: webhookData.website || '',\n  industry: webhookData.industry || '',\n  employees: webhookData.employees || '',\n  currentChallenges: webhookData.currentChallenges || '',\n  goals: webhookData.goals || '',\n  currentTools: webhookData.currentTools || '',\n  timeline: webhookData.timeline || ''\n};\n\n// Create JSON for file (pretty printed)\nconst jsonForFile = JSON.stringify(orderData, null, 2);\n\n// Create filename\nconst filename = `${orderId}.json`;\n\nreturn [{\n  json: {\n    orderData: orderData,\n    jsonForFile: jsonForFile,\n    filename: filename,\n    orderId: orderId\n  }\n}];"
      },
      "name": "Generate Order ID & JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a7b916f6-5424-4185-9a47-3d462d6e773f"
    },
    {
      "parameters": {
        "sendTo": "ingithorg@gmail.com",
        "subject": "=🆕 New AI-Greining Request - {{ $json.orderData.companyName }}",
        "message": "=<!DOCTYPE html><html><body style=\"font-family: Arial;\"><h1>New Request</h1><p><strong>Order ID:</strong> {{ $json.orderId }}</p><p><strong>Company:</strong> {{ $json.orderData.companyName }}</p><p><strong>Email:</strong> {{ $json.orderData.email }}</p><pre>{{ $json.jsonForFile }}</pre></body></html>",
        "options": {}
      },
      "name": "Send Email to CEO",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        800,
        -128
      ],
      "id": "55bb4e80-f1ae-4a22-9d45-49036e8dba3a",
      "webhookId": "50e8be16-230e-42b2-9ba4-b2faf3310fe3",
      "credentials": {
        "gmailOAuth2": {
          "id": "DMOMr6YNj60YMfxL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.orderData.email }}",
        "subject": "=Greining þín er í vinnslu - {{ $json.orderData.companyName }}",
        "message": "=<!DOCTYPE html><html><body style=\"font-family: Arial;\"><h1>Takk fyrir!</h1><p>Við höfum móttekið beiðni þína.</p><p><strong>Pöntunarnúmer:</strong> {{ $json.orderId }}</p></body></html>",
        "options": {}
      },
      "name": "Send Customer Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        816,
        208
      ],
      "id": "83283d64-70ab-4035-85b7-0750b63973e7",
      "webhookId": "c39f5a60-3160-4148-a5b2-0ff68dc04bdf",
      "credentials": {
        "gmailOAuth2": {
          "id": "DMOMr6YNj60YMfxL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, orderId: $json.orderId, message: 'Request received!' }) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "239c5b7a-556d-4daf-8225-d35543d9971f"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "1LAL8vJz3PCiTDCL1igTqNtqsO0pI4ap-",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "97433dd6-bf67-4518-93cd-5e7b13f17475",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wwpyqnDEeHfqxBt5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "db91307c-94b2-417d-8439-d6488fb20bae",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Order ID & JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Order ID & JSON": {
      "main": [
        [
          {
            "node": "Send Customer Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email to CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to CEO": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71bd66d3-9ad7-4a68-92d8-e2fc1d70bb32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7f40563bec61343bd96b2dc39bcec86e447b8da8aeac02fee5701e8d6439785"
  },
  "id": "YC8v5c31SeLFxzN6",
  "tags": []
}